$primary-color: rgb(255, 248, 231);
$secondary-color: rgb(177, 168, 45);
$black-color: rgb(0, 0, 0);
$grey-color: rgb(31, 30, 30);
$danger-color: rgb(219, 58, 52);

$circle-color: rgb(239, 155, 15);
$button-color: rgb(250, 202, 22);
$normal-size: 0.6rem;
$h3-size: 1rem;
$h2-size: 2rem;
$h1-size: 3rem;
